@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  height: 64px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.menu-content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 1.25rem;
  color: #1976d2;
  font-weight: 700;
}

.menu-logo img {
  width: 60px;
  height: 50px;
}

.menu-logo svg {
  width: 24px;
  height: 24px;
  color: #5f6368;
}

.menu-items {
  display: flex;
  gap: 4px;
}

.menu-item {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover {
  color: #1a73e8;
  background-color: rgba(26, 115, 232, 0.08);
}

/* Efeito ativo/sublinhado */
.menu-item:active {
  color: #1a73e8;
}

.menu-item-dropdown {
  position: relative;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 160px;
  background: #fdfdfd;
  box-shadow: 0 2px 8px #1976d211;
  border-radius: 0 0 8px 8px;
  z-index: 10;
  flex-direction: column;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

}

.submenu.show {
  display: flex;
}

.submenu-item {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #e0e0e0;
  color: #383838;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.submenu-item:hover {
  background-color: rgba(26, 115, 232, 0.08);
}

.submenu-item:last-child {
  border-bottom: none;
}


/* Responsividade */
@media (max-width: 768px) {
  .menu-content {
    padding: 0 16px;
  }
  
  .menu-logo span {
    font-size: 1rem;
  }
  
  .menu-items {
    gap: 12px;
  }
  
  .menu-item {
    padding: 8px 12px;
    font-size: 0.8125rem;
  }
}